.container {
  width: 100%;
  height: 100%;
}

.input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 1px solid #aeaeae;
}

.input:focus {
  outline: none;
}

.inputSubTitle {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 10px;
  color: #006934;
}
